.App{
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 220px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mode{
  height: 50px;
  position: absolute;
  top: 24%;
  z-index: 999;
}

.display {
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 10px 12px;
}

.answer{
  width: 100%;
  text-align: right;
}

.calculate{
  width: 100%;
  text-align: right;
}

.mode p{
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  color: #040c24;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  height: 40px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}


.display-dark{  
  background-color: #142c64;
  color: #fff;
}

.buttons-dark, .buttons-dark button{  
  background-color: #040c24;
  color: #fff;
}

.display-light{
  background-color: aliceblue;
}

.buttons-light, .buttons-light button{
  background-color: #ccc;
}